<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.ExerciseMapper" >
  <select id="queryVenue" resultType="com.jk.model.Venue">
  select * from t_time t LEFT JOIN t_venue v on t.price = v.price
  </select>

    <select id="queryAppraise" resultType="com.jk.model.UserAppraise">
    select * from t_user_appraise
  </select>

    <select id="queryList" resultType="com.jk.model.timeModel">
    select * from t_time t LEFT JOIN t_venue v on t.price = v.price
  </select>

<!--    <update id="updatevuen" parameterMap="venueId">
     update  t_venue set venueLike='2' where venueId='#{venueId}'
    </update>

    <update id="updatevuen2" parameterMap="venueId">
    update  t_venue set venueLike='1' where venueId='#{venueId}'
    </update>-->

</mapper>