<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>运动场地场馆预订</title>
    <meta name="keywords" content="运动场,运动馆,运动教练,羽毛球,乒乓球,游泳,场馆预订,场馆信息查询,场馆信息">
    <meta name="description" content="格瓦拉生活网提供运动场地场馆,羽毛球馆,羽毛球场地,游泳馆查询预订,运动场馆价格表,运动场馆优惠信息,运动场馆教练,运动场所会员卡转让等信息.">
    <script src="../demo/resources/js/hDialog/jquery.hDialog.js" type="text/javascript"></script>
    <link href="../demo/templates/index/css/ue_gridheader.css" rel="stylesheet">

    <link href="../js/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Bootstrap 核心css -->
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap TreeView css -->
    <link href="../js/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet">

    <!-- Bootstrap addTabs css -->
    <link href="../js/bootStrap-addTabs/bootstrap.addtabs.css" rel="stylesheet">

    <!-- Bootstrap table css -->
    <link href="../js/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker css -->
    <link href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- bootstrap-dialog css -->
    <link href="../js/bootstrap-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet">
    <!-- bootstrap-fileinput css -->
    <link href="../js/bootstrap-fileinput/css/fileinput.css" rel="stylesheet">


    <link href="../demo/templates/index/css/ue_gridheader.css" rel="stylesheet">
    <link href="../demo/templates/index/css/styleheader.css" rel="stylesheet">
    <link href="../demo/templates/index/css/style2header.css" rel="stylesheet">
    <link href="../demo/resources/js/hDialog/animate.css" rel="stylesheet">
    <script src="../demo/resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://cloud.cloudcq.com/templates/index/css/login.css">
    <script src="../demo/templates/index/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="../demo/templates/index/js/custom.js" type="text/javascript"></script>
    <script src="../js/jquery.min.js"></script>


</head>
<body>


<!-- HBox end -->

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap/js/bootstrap.min.js"></script>
<!-- bootStrap TreeView -->
<script src="../js/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>

<!-- bootStrap addTabs -->
<script src="../js/bootStrap-addTabs/bootstrap.addtabs.js"></script>

<!-- bootStrap table -->
<script src="../js/bootstrap-table/dist/bootstrap-table.js"></script>
<!-- bootStrap table 语言包中文-->
<script src="../js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>

<!-- bootstrap-datetimepicker -->
<script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<!-- bootstrap-dialog -->
<script src="../js/bootstrap-dialog/dist/js/bootstrap-dialog.js"></script>
<!-- bootstrap-fileinput -->
<script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
<script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>


</head>


<script src="../demo/resources/js/hDialog/jquery.hDialog.js" type="text/javascript">


</script>


<!-- 登录 注册-->
<div id="HBox" style='display:none;'>
    <div class="pd20 loginpd">
        <div class="loginwrap">
            <div class="loginh">
                <div class="fl">会员登录</div>
                <div class="clear"></div>
            </div>
            <div class="loginbtn">
                <div class="loginsubmit fl">
                    <input type="button" value="动态登录" id="dongtai" class="flag on" style="background-color:red;">
                </div>
                <div class="loginsubmit fl">
                    <input type="button" value="密码登录" id="mima" class="flag off">
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <form action="index.php?a=vip_login" method="post" id="login_form" onsubmit='return false'>
                <div class="logininput">
                    <input type="hidden" name="id_d" id="hide_id_d">
                    <input type="text" name="userid" id="phone_l" maxlength="11" class="loginusername"
                           placeholder="手机号">
                    <input style='width:80px;margin-top:10px;' maxlength="6" name="verification_d" placeholder="验证码"
                           id="yzm_phone_d">
                    <input type="button" id="send_d"
                           style="margin-left:10px;position:relative;top:-40px;left:90px; font-size:10px;width:120px;height:40px;border:1px;cursor:pointer;background:#10c766;color: white;"
                           onclick='send_code_d()' value='发送验证码'>
                    <input type="password" class="loginuserpasswordt" style='display:none;' maxlength="20" id="password"
                           placeholder="密码">
                    <input type='text' id='vcode' style='width:80px;margin-top:10px;display:none;' maxlength="4"
                           class="loginusername3" placeholder="验证码"><img
                        style='position:relative;top:-40px;left:90px;cursor:pointer;display:none;'
                        src="admin-user_vcode58.jpg" id='yanzhengma' title='看不清？换一张'>
                </div>
                <div class="loginbtn">
                    <div class="loginsubmit fl">
                        <input type="button" value="登录" onclick="login()">
                    </div>
                    <div class="loginsubmit fl">
                        <input type="button" value="立即注册" id="lijizhuce">
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- HBox end -->
<div id="rBox" style='display:none;'>
    <div class="pd20 loginpd">
        <div class="loginwrap">
            <div class="loginh">
                <div class="fl">会员注册</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <form action="index.php?a=vip_add" method="post" id='addform'>
                <div class="logininput">
                    <input type="hidden" name="id" id="hide_id">
                    <input type="text" rel="phone" maxlength="11" placeholder="输入手机号码" class="loginusername"
                           id="phone_r" name="phone" value="">
                    <input type="password" id="one_pwd" name="user_pwd" maxlength="20" class="loginusername" rel="lock"
                           placeholder="填写密码">
                    <input type="password" id="two_pwd" name="user_pwd_o" maxlength="20" class="loginusername"
                           rel="lock" placeholder="确认密码">
                    <input style='width:80px;margin-top:10px;' maxlength="6" name="verification" placeholder="验证码"
                           id="yzm_phone">
                    <input type="button" id="send"
                           style="margin-left:10px;position:relative;top:-40px;left:90px; font-size:10px;width:120px;height:40px;border:1px;cursor:pointer;background:#10c766;color: white;"
                           onclick='send_code()' value='发送验证码'>
                    <input type="hidden" id="phone_id">
                </div>
                <div class="loginbtn">
                    <div class="loginsubmit fl">
                        <input type="button" value="立即注册" onclick="do_phone()">
                    </div>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- HBox end -->
<script>
    $(function () {
        var $el1 = $('.register');
        $('#yanzhengma').on('click', function () {
            $(this).attr('src', 'admin.php?c=user&a=vcode&g=' + Math.random());
        });
        var userid = $('#fabu').attr('title');
        if (userid == '') {
            $('#fabu').hDialog({width: 440, height: 432}); //默认调用
            $('#dia').hDialog({width: 440, height: 432}); //默认调用
            /*$.tooltip('请先登录');*/
        } else {
            $('#fabu,#dia').on('click', function () {
                window.location.href = "index.php?a=regeven&act=fill";
            });
        }
        $('.login').hDialog({width: 440, height: 432}); //默认调用
        $el1.hDialog({'box': '#rBox', width: 440, height: 432}); //默认调用
        //$('.login').hDialog({width: 500});
        $('#lijizhuce').on('click', function () {
            $('.login').hDialog('close', {box: '#HBox'});
            $el1.click();
        });
        var flag = false;
        $(".flag").on('click', function () {
            if (!flag) {
                if (!$(this).hasClass('on')) {
                    $(".off").css('background-color', 'red');
                    $(".on").css('background-color', '#70CA10');
                    flag = true;
                    $("#yzm_phone_d").hide();
                    $("#send_d").hide();
                    $("#password").show();
                    $("#vcode").show();
                    $("#yanzhengma").show();
                }
            } else {
                if (!$(this).hasClass('off')) {
                    $(".on").css('background-color', 'red');
                    $(".off").css('background-color', '#70CA10');
                    flag = false;
                    $("#yzm_phone_d").show();
                    $("#send_d").show();
                    $("#password").hide();
                    $("#vcode").hide();
                    $("#yanzhengma").hide();
                }
            }
        });

    });

    function time() {
        $('#send').val("发送验证码");
        var count = 120;
        var countdown = setInterval(CountDown, 1000);

        function CountDown() {
            $("#send").attr("disabled", true);
            $("#send").val("" + count + " 秒后再次获取");
            if (count == 0) {
                $("#send").val("重新获取验证码").removeAttr("disabled");
                clearInterval(countdown);
            }
            count--;
        }
    }

    function time1() {
        $('#send_d').val("发送验证码");
        var count = 120;
        var countdown = setInterval(CountDown, 1000);

        function CountDown() {
            $("#send_d").attr("disabled", true);
            $("#send_d").val("" + count + " 秒后再次获取");
            if (count == 0) {
                $("#send_d").val("重新获取验证码").removeAttr("disabled");
                clearInterval(countdown);
            }
            count--;
        }

    }

    //手机注册发送验证码
    function send_code() {
        var send = $("#send").val();
        if (send == '发送验证码' || send == '重新获取验证码') {
            var userid = $('#phone_r').val();
            if (userid == "") {
                $.tooltip('请输入手机号');
                return false;
            }
            if (userid.length != 11) {
                $.tooltip('手机号位数有误');
                return false;
            }
            if (isNaN(userid)) {
                $.tooltip('手机号输入有误');
                return false;
            }
            $.ajax({
                type: "GET",//传输的方式
                url: "index.php?a=vip_add&userid=" + userid + "&isajax=1&platform=reservation",
                success: function (msg) {
                    if (msg == '手机号') {
                        $.tooltip('手机号已被注册');
                        return false;

                    } else {
                        time();
                    }
                }
            })
            return false;
        }
    }

    //用户手机注册
    function do_phone() {
        var id = $("#hide_id").val();
        var phone = $("#phone_r").val();
        var verification = $("#yzm_phone").val()
        if (phone == "") {
            $.tooltip('请输入手机号');
            return false;
        }
        if (phone.length != 11) {
            $.tooltip('手机号位数有误');
            return false;
        }
        if (isNaN(phone)) {
            $.tooltip('手机号输入有误');
            return false;
        }
        var first_pwd = $("#one_pwd").val();
        var second_pwd = $("#two_pwd").val();
        if (first_pwd == "") {
            $.tooltip("请创建密码");
            return false;
        }
        if (second_pwd == "") {
            $.tooltip("请确认密码");
            return false;
        }
        if (first_pwd != second_pwd) {
            $.tooltip("两次输入密码不一致，请重新输入");
            return false;
        }

        if ($("#yzm_phone").val() == "") {
            $.tooltip("请输入验证码");
            $("#yzm_phone").find("input[name='user_pwd']").val("");
            $("#yzm_phone").find("input[name='user_pwd']").focus();
            return false;
        }
        /*
            var is_read = document.getElementById("is_read").checked;

            if(!is_read){
                show_error("请阅读我要赛条款");
                return false;
            }
        */

        var auth_code = document.getElementById("yzm_phone").value;
        var auth_code_id = document.getElementById("phone_id").value;
        if (auth_code == "") {
            $.tooltip("请输入验证码！");
            return false;
        }
        $.ajax({
            type: "GET",//传输的方式
            url: "index.php?a=vip_add&id=" + id + "&isajax=2" + "&phone=" + phone + "&verification=" + verification + "&password=" + second_pwd,
            success: function (msg) {
                if (msg == 1) {
                    alert('注册成功');
                    window.location.href = "index.php";

                } else {
                    $.tooltip("验证码输入有误！");

                }
            }
        })
        return false;

    }

    //手机动态登录发送验证码
    function send_code_d() {
        var send_d = $("#send_d").val();
        if (send_d == '发送验证码' || send_d == '重新获取验证码') {
            var userid = $('#phone_l').val();
            if (userid == "") {
                $.tooltip('请输入手机号');
                return false;
            }
            if (userid.length != 11) {
                $.tooltip('手机号位数有误');
                return false;
            }
            if (isNaN(userid)) {
                $.tooltip('手机号输入有误');
                return false;
            }
            $.ajax({
                type: "GET",//传输的方式
                url: "index.php?a=vip_login&userid=" + userid + "&isajax=2&platform=reservation",
                success: function (msg) {
                    if (msg == 1) {
                        $.tooltip('您还不是会员,请先注册！');
                        return false;

                    } else {
                        time1();
                    }
                }
            })
            return false;
        }
    }

    //用户登录
    function login() {
        var phone = $('#phone_l').val();
        if (phone == "") {
            $.tooltip('请输入手机号');
            return false;
        }
        if ($("#password").is(":visible")) {
            var password = $('#password').val();
            var vcode = $('#vcode').val();
            if (password == "") {
                $.tooltip('请输入密码');
                return false;
            }
            if (vcode == "") {
                $.tooltip('请输入验证码');
                return false;
            }
            $.ajax({
                type: "POST",//传输的方式
                url: "index.php?a=vip_login&isajax=1",
                data: {"phone": phone, "password": password, "vcode": vcode},
                success: function (msg) {
                    if (msg == 0) {
                        $.tooltip("用户名或密码输入有误！");

                    } else if (msg == 3) {
                        $.tooltip("验证码输入有误！");

                    } else {
                        window.location.href = "index.php";
                    }
                }
            })
            return false;
        } else {
            var yanzhengma = $('#yzm_phone_d').val();
            if (yanzhengma == "") {
                $.tooltip('请输入验证码');
                return false;
            }
            $.ajax({
                type: "POST",//传输的方式
                url: "index.php?a=vip_login&isajax=3",
                data: {"phone": phone, "yanzhengma": yanzhengma},
                success: function (msg) {
                    if (msg == 0) {
                        $.tooltip("手机号或验证码输入有误！");

                    } else {
                        window.location.href = "index.php";
                    }
                }
            })
            return false;

        }
    }

</script>

<link href="../demo/templates/index/css/style.css" rel="stylesheet">
<link href="../demo/templates/index/css/index.css" rel="stylesheet">

<div class="splash-wood ipadWidht" id="splash-wood">

    <div class="login_tip" style="float:right;">
        <div class="log_box">
            <b><a href="javascript:;" class="head-mime-text"><font size="5">订单中心</font></a>
                <font size="5" color="orange"> &nbsp;</font>
                <a href="javascript:like();" class="head-mime-text"><font size="5">我的收藏</font></a>
                <font size="5" color="orange"> &nbsp;</font>
            </b>
            <!--   <b><a href="../login/tologin"  class="head-mime-text" ><font size="5">登录</font></a>
                   <font size="5" color="orange" > |  </font>
                   <a href="javascript:;"  class="head-mime-text" ><font size="5" >注册</font></a>
               </b>-->


        </div>
        <div>&nbsp;</div>
    </div>


    <div class="tip">
        <div class="box">
            <b><a href="javascript:;" class="head-mime-text"><font size="5" color="gray"> &nbsp; &nbsp; </font></a>

                <a href="../zhy/tiao;" class="head-mime-text"><font size="5" color="#deb887">我是场馆</font></a>
            </b>
        </div>

    </div>

    <div class="speedyReserve">
        <div class="isMask"></div>
        <ul class="clear">
            <label class="col-sm-3 control-label">
                <font color="red">项目</font>：<select class="form-control"
                                                    style="width:150px;background-color: rgba(0,0,0,0)" name="xmId"
                                                    id="xm" onchange="changguan(this.value)"></select>
            </label>
            <label class="col-sm-3 control-label">
                <font color="red">场馆</font>：<select class="form-control"
                                                    style="width:500px;background-color: rgba(0,0,0,0)" name="cgId"
                                                    id="cg"></select>
            </label>
            <br>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-primary" onclick="queryVenueName()">快速预定</button>
        </ul>
    </div>


</div>


<div class="upsell">
    <div class="ui_layout">
        <div class="itemListTop">
            <div class="itemList_box">
                <ul class="clear" id="itemList_box">
                    <li>
                        <a target="_blank" href="../skip/getReserve">
                            <span><em style="background-position:0 -300px;"></em></span>
                            <p>足球</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../skip/toIndex2">
                            <span><em style="background-position:1px 1px;"></em></span>
                            <p>羽毛球</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../skip/toIndex3">
                            <span><em style="background-position:0 -149px;"></em></span>
                            <p>网球</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../skip/toIndex4">
                            <span><em style="background-position:0 -375px;"></em></span>
                            <p>篮球</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../skip/toIndex5">
                            <span><em style="background-position:0 -223px;"></em></span>
                            <p>乒乓球</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../skip/toIndex6">
                            <span><em style="background-position:-2px -80px;"></em></span>
                            <p>游泳</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../skip/toIndex7">
                            <span><em style="background-position:0 -1875px;"></em></span>
                            <p>健身</p>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="../skip/toIndex8">
                            <span><em style="background-position:0 -525px;"></em></span>
                            <p>桌球</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex9">
                            <span><em style="background-position:0 -1950px;"></em></span>
                            <p>瑜伽</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex10">
                            <span><em style="background-position:0 -2025px;"></em></span>
                            <p>搏击</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex11">
                            <span><em style="background-position:0 -978px;"></em></span>
                            <p>溜冰</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex12">
                            <span><em style="background-position:0 -1200px;"></em></span>
                            <p>轮滑</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex13">
                            <span><em style="background-position:0 -600px;"></em></span>
                            <p>攀岩</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex314">
                            <span><em style="background-position:2px -450px;"></em></span>
                            <p>壁球</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex315">
                            <span><em style="background-position:0 -678px;"></em></span>
                            <p>射箭</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex16">
                            <span><em style="background-position:-2px -820px;"></em></span>
                            <p>高尔夫球</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex17">
                            <span><em style="background-position:0 -902px;"></em></span>
                            <p>射击</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex18">
                            <span><em style="background-position:0 -750px;"></em></span>
                            <p>保龄球</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex19">
                            <span><em style="background-position:0 -1575px;"></em></span>
                            <p>马术</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex20">
                            <span><em style="background-position:0 -1650px;"></em></span>
                            <p>卡丁车</p>
                        </a>
                    </li>
                    <li style='display:none;'>
                        <a target="_blank" href="../skip/toIndex21">
                            <span><em style="background-position:0 -2100px;"></em></span>
                            <p>击剑</p>
                        </a>
                    </li>
                </ul>


                <div class="hasHover" style="display:none;"></div>
                <div class="iUp"><em></em></div>
            </div>
        </div>
        <div class="mod_index">
            <div class="mod_hd">
                <div class="mod_hd_title">
                    <span>|</span>推<span>|</span>荐<span>|</span>场<span>|</span>馆<span>|</span>
                </div>
                <h2 class="freeTag" style="background-position:center 0;">热门场馆推荐</h2>
            </div>
            <div class="mod_bd">
                <div class="hotVenue">
                    <ul class="clear" style="width:1160px;" id="hotVenueShow">

                    </ul>
                </div>
                <div class="clear center mt15">
                    <a href="../page/tosearch" class="sportBtn venueBt" target="_blank" title="全部场馆">
                        全部场馆
                        <strong>&gt;</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../demo/templates/index/js/common.js" type="text/javascript"></script>


<link href="../demo/templates/index/css/footer.css" rel="stylesheet">

<div id="footer" class="clear">
    <div class="wrap">
        <div class="site-link-wrap clear">

        </div>
        <div class="footer clear">
            <p>
                <a href="javascript:;" target="_blank">关于我们</a>丨
                <a href="javascript:;" target="_blank">本站介绍</a>丨
                <a href="javascript:;" target="_blank">成功案例</a>丨
                <a href="javascript:;" target="_blank">联系我们</a>丨Copyright © 2012-2015 cqsports.org All Rights
                Reserved.体育网 版权所有
            </p>
            <p class="foot-spons">
                <a class="foot-spon1" href="javascript:void(0);"><i></i><span>经营性网站备案信息</span></a>
                <a class="foot-spon2" href="javascript:void(0);"><i></i><span>不良信息举报中心</span></a>
                <a class="foot-spon3" href="javascript:void(0);"><i></i><span>应用商店自律组</span></a>
                <a class="foot-spon4" href="javascript:void(0);"><i></i><span>渝ICP备:15002486号</span></a>
                <a class="foot-spon5" href="javascript:void(0);"><i></i><span>可信网站身份验证</span></a>
            </p>
            <p style="margin:10px;color:#555;">
                未成年人家长监护 丨 渝ICP备15002486号
            </p>
        </div>
    </div>
</div>


<input id="UserLike" th:value="${user}">
<script type="text/javascript">


    function like() {

        var Username = $("#UserLike").val();
        //alert("111111"+Username)
        if (UserLike == "" || UserLike == null) {
            alert("请先登录");

            location.href = '../login/tologin';
            return;
        }
        location.href = '../exercise/UserVenueLike?venueLike=' + Username;


    }

</script>

</body>


<script>
    $(function () {
        queryVenue();
        xiangmu();
    })


    function queryVenue() {
        $.ajax({
            url: "../exercise/queryVenues",
            success: function (data) {
                var aa = "";
                for (var i = 0; i < data.length; i++) {
                    aa +=
                        "<li>" +
                        "<div class='title' style='height:30px;overflow:hidden;width:405px;'>" +
                        "<h2><a class='color3' target='_blank'>" + data[i].venueName + "</a>" +
                        "</h2>" +
                        "<span><a target='_blank' title='网球'><label>" + data[i].venueTypeName + "</label><em class='freeTag2'></em></a></span>" +
                        "</div>" +
                        "<p class='mt15'>" +
                        "<em class='freeTag2'></em>" +
                        "<font>" + data[i].venueAddress + "</font>" +
                        "</p>" +
                        "<a  id='aa' href='javascript:yuDing(\"" + data[i].venueLease + "\",\"" + data[i].venueId + "\")' class='sportBtn indexhotBtn' >" + data[i].venueLease + "</a>"
                        + "</li>"

                }

                $("#hotVenueShow").html(aa)

            }
        })
    }

    function yuDing(venueLease, venueId) {

        if (venueLease == "在线预订") {
            location.href = "../exercise/toMakeInfo?venueId=" + venueId;
        } else if (venueLease == "场馆维护") {
            alert("场馆维护")
            return;
        }


    }
</script>
<script>
    $(function () {
        xiangmu();

    })

    function xiangmu() {
        //alert(222);
        $.ajax({
            url: "../exercise/queryVenueType",
            type: "post",

            success: function (data) {
                var str = "<option value='0'>请选择</option>";
                for (var i = 0; i < data.length; i++) {

                    str += "<option value='" + data[i].typeId + "'>" + data[i].typeName + "</option>";
                }
                //alert(str);

                $("#xm").html(str);
            },
            error: function () {
                alert("失败")
            }
        })
    }

    changguan = function (typeId) {
        //alert(111);
        //alert(typeId),
        $.ajax({
            url: "../exercise/queryVenue",
            type: "post",
            data: {typeId: typeId},

            success: function (data) {

                var str = "<option value='0'>请选择</option>";
                for (var i = 0; i < data.length; i++) {

                    if (typeId == data[i].venueTypeId) {

                        str += "<option value='" + data[i].venueId + "'>" + data[i].venueName + "</option>";
                        //alert(str)
                        //alert(111);
                    }
                }

                //alert(str);
                $("#cg").html(str);
            }
        })
    }

    function queryVenueName() {
        zhi1 = $("#xm").val();
        zhi2 = $("#cg").val();
        alert(zhi1);

        alert(zhi2);
        $.ajax({
            url: "../exercise/queryVenueName",

            date: {zhi1: zhi1, zhi2: zhi2},

            success: function () {

                location.href = "../exercise/toMakeInfo?venueId=" + zhi2;
            }
        })
    }
</script>


</html>
