<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.VenueMapper" >
  <resultMap id="VenueBaseResultMap" type="com.jk.model.Venue" >
    <id column="venueId" property="venueid" jdbcType="INTEGER" />
    <result column="venueName" property="venuename" jdbcType="VARCHAR" />
    <result column="venueAddress" property="venueaddress" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="doTime" property="dotime" jdbcType="DATE" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="venueServer" property="venueserver" jdbcType="VARCHAR" />
    <result column="venueMetro" property="venuemetro" jdbcType="VARCHAR" />
    <result column="venueCar" property="venuecar" jdbcType="VARCHAR" />
    <result column="venueLease" property="venuelease" jdbcType="VARCHAR" />
    <result column="venueMaintain" property="venuemaintain" jdbcType="VARCHAR" />
    <result column="venueMore" property="venuemore" jdbcType="VARCHAR" />
    <result column="venueBath" property="venuebath" jdbcType="VARCHAR" />
    <result column="venueGoods" property="venuegoods" jdbcType="VARCHAR" />
    <result column="venueInvoice" property="venueinvoice" jdbcType="VARCHAR" />
    <result column="venuePark" property="venuepark" jdbcType="VARCHAR" />
    <result column="venueHint" property="venuehint" jdbcType="VARCHAR" />
    <result column="vipId" property="vipid" jdbcType="INTEGER" />
    <result column="venuePhone" property="venuephone" jdbcType="INTEGER" />
    <result column="venueTypeName" property="venuetypename" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryFootballVenue" resultMap="VenueBaseResultMap">
    select * from t_venue where venueTypeName =  #{typeName}
  </select>
</mapper>